region                = "us-east-1"
project               = "stock-sentiment"
finnhub_api_key       = "your_finnhub_key_here"
alpha_vantage_api_key = "your_alpha_vantage_key_here"
tickers               = ["AAPL", "MSFT", "NVDA", "TSLA", "GOOGL", "AMZN", "META", "SHOP.TO", "RY.TO", "TD.TO"]
